{% extends 'base.html' %}
{% block title %} O autorze {% endblock %}
{% block content %}
    <h4 style="padding-bottom: 20px">Ignacy Dudziak</h4>
    <div class="container">
        <h5>Podstawowe informacje</h5>
        <ul>
            <li>student</li>
            <li>Kierunek: Informatyka Stosowana</li>
            <li>Uczelnia: Uniwersytet Ekonomiczny</li>
            <li>Miejscowość: Kraków</li>
            <li>Wiek: 19 lat</li>            
        </ul>
        <h5>Zainteresowania</h5>
        <ul>
            <li>koszykówka</li>
            <li>szachy</li>
            <li>geoguesser</li>
            <li>harcerstwo</li>
            <li>grafika komputerowa</li>            
        </ul>
        <h5>Kontakt</h5>
        <ul>
            <li>email: 236525@student.uek.krakow.pl</li>
            <li><a href="https://github.com/Igusilla" style="color:inherit; text-decoration:underline;">Github: Igusilla</a></li>            
        </ul>
        </div>
{% endblock %}