{% extends 'base.html' %}
{% block title %} Pobieranie opinii o produkcie {% endblock %}
{% block content %}
    {% if error is defined %}
        <p class="extract-error">{{error}}</p>
    {% endif %}
    <body class="extraction">
        <form action="{{url_for('extract')}}" method="post" style="padding-top: 30px;">
            <label for="product_id" class="product-id-label">Kod produktu</label>
            <input type="text" name="product_id" id="product_id" class="product-id" required>
            <button type="submit" class="extract-button">Pobierz opinię</button>
        </form>
        <p class="extract-text">Podaj kod produktu którego opinie chcesz pobrać</p>
    </body>
{% endblock %}